
@{
    ViewBag.Title = "XemChiTietLop";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using TT.ASC.DATA;
@model List<TT.ASC.DATA.SinhVien>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">DANH SÁCH SINH VIÊN </strong>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead style="color:white">
                <tr style="background-color:#6610f2">
                    <th  class="text-center">
                        ID
                    </th>
                    <th  class="text-center">
                        Mã Sinh Viên
                    </th>
                    <th  class="text-center">
                        Họ Đệm
                    </th>
                    <th  class="text-center">
                        Tên
                    </th>
                    <th  class="text-center">
                        Giới Tinh
                    </th>
                    <th  class="text-center">
                        Lớp Học
                    </th>

                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuidID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoDem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @*@if(item.GioiTinh==1)
                            {
                                
                            }
                            @if(item.GioiTinh==2)
                            { 

                            }*@


                            @Html.DisplayFor(modelItem => item.GioiTinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LopHoc)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn-primary text-warning"><a href="@Url.Action("TaoListCoSo", "Home")">Back</a></button>
    </div>
</div>
